@import url("https://fonts.googleapis.com/css2?family=Bytesized&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tiny5&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@property --change-colors-bg {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

@property --change-colors-fg {
  syntax: "<number>";
  initial-value: 260;
  inherits: false;
}

@keyframes slide {
  from {
    left: 0%;
  }

  to {
    left: 100%;
  }
}

@theme {
  --font-not-found: "Bytesized", sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-radius: var(--radius);
  --animate-colors: colors 12s ease-in-out infinite;
  --animate-box: racebit 2s linear infinite;

  @keyframes colors {
    to {
      --change-colors-bg: 360;
      --change-colors-fg: 0;
    }
  }
}

:root {
  --radius: 0.65rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--color-gray-600);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--color-sky-500);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: var(--color-gray-400);
  --accent: oklch(0.97 0 0);
  --accent-foreground: var(--color-sky-400);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}

@keyframes hidden {
  from {
    opacity: 100;
  }

  to {
    opacity: 0;
  }
}

@keyframes hvh {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}

.to-visible {
  animation: visible 2s linear infinite;
}

.to-hidden {
  animation: hidden 2s linear infinite;
}

#bit_1-hidden {
  opacity: 0;
  animation: hvh 1.8s linear;
}

#bit_0 {
  opacity: 0;
  animation: visible 0.3s ease-in 0.5s forwards;
}

#bit_2 {
  opacity: 0;
  animation: visible 0.3s ease-in 2s forwards;
}

#bit_3 {
  opacity: 0;
  animation: visible 0.3s ease-in 2.1s forwards;
}

#bit_4 {
  opacity: 0;
  animation: visible 0.3s ease-in 2.2s forwards;
}

#bit_5 {
  opacity: 0;
  animation: visible 0.3s ease-in 2.3s forwards;
}

#bit_text {
  opacity: 0;
  animation: visible 0.3s ease-in 2.4s forwards;
}
